

.Funding {
  display: flex;
}

.fundingForm {
  width: 75%;
  margin: 10;
  padding: 50px
}

.Assistance {
  display: flex;
}

.assistanceForm {
  width: 75%;
  margin: 10;
  padding: 50px
}

.blank {
  width: 70%;
  margin-left: auto;
  margin-top: 10%;
}

.managerLabel {
  text-align: center;
}

.loginForm {
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
}

.brand {
  color: white;
  font-weight: bold;
  padding: 20;
  text-decoration: none;
}

.navlink {
  color: white;
  margin-left: 15%;
  text-decoration: none;
}

.fundingLink {
  margin-top: 5%;
  margin: 5% 3%;
  display: inline-block;
  text-align: center;
}

.home {
  margin: 0 auto;
}

footer {
  background-color: white;
  padding-top: 0.5em;
  /* margin-left: 0; */
  margin-top: 5%;  
  width: 100%;
  display: inline-block;
  bottom:0;
  align-items: center;
}

footer img {
  height: 10%;
  width: 25%;
  padding: 0;
}

